<div class="ma-footer-static">
    <div class="container">
        <div class="footer-static">
            <div class="row">
                <div class="f-col f-col-3 col-sm-6 col-md-4 col-sms-6 col-smb-12">
                    <div class="img-logo"><a href="#"><img src="~/Content/img/logo.PNG" style="width:75px" alt=""></a></div>
                </div>
                <div class="f-col f-col-4 col-sm-6 col-md-2 col-sms-6 col-smb-12">
                    <div class="footer-static-title">
                        <h3>OUR SERVICES</h3>
                    </div>
                    <div class="footer-static-content">
                        <ul>
                            <li class="first"><a href="">About us</a></li>
                            <li><a href="">Order History</a></li>
                            <li><a href="">Returns</a></li>
                            <li><a href="">Custom Service</a></li>
                            <li class="last"><a href="">Terms &amp; Condition</a></li>
                        </ul>
                    </div>
                </div>
                <div class="f-col f-col-5 col-sm-6 col-md-2 col-sms-6 col-smb-12">
                    <div class="footer-static-title">
                        <h3>our support</h3>
                    </div>
                    <div class="footer-static-content ">
                        <ul>
                            <li class="first"><a href="">Sitemap</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Your Account</a></li>
                            <li><a href="">Advanced Search</a></li>
                            <li class="last"><a href="">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="f-col f-col-6 col-sm-6 col-md-2 col-sms-6 col-smb-12">
                    <div class="footer-static-title">
                        <h3>MY ACCOUNT</h3>
                    </div>
                    <div class="footer-static-content">
                        <ul>
                            <li class="first"><a href="">My Account</a></li>
                            <li><a href="">Order History</a></li>
                            <li><a href="">Returns</a></li>
                            <li><a href="">Specials</a></li>
                            <li class="last"><a href="">Site Map</a></li>
                        </ul>
                    </div>
                </div>
                <div class="f-col f-col-7 col-sm-6 col-md-2 col-sms-6 col-smb-12">
                    <div class="footer-static-title">
                        <h3>information</h3>
                    </div>
                    <div class="footer-static-content">
                        <ul>
                            <li class="first"><a href=">About us</a></li>
                            <li><a href="">Delivery Information</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Custom Service</a></li>
                            <li class="last"><a href="">Terms &amp; Condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>